@import "variables";

footer {
  background: darken($background-color, 5);
  color: white;
  padding:20px 0;
  margin:40px 0 0;
  text-align: center;

}



#social_bar {
  position: static;

  transition: all 0.3s;

  &.visible_bar {
    transform: translateX(0);
  }

  ul {

    text-align: center;
      background: darken($background-color, 5);

    li {
      display: inline-block;
      font-size: 2em;
      padding: 0;


      a {

        display: block;
        text-align: center;
        color: white;
        padding:10px;


        i {

        }
        &:hover {
          background: lighten($background-color, 30);
          color: white;
        }
      }
    }
  }
}


@media (min-width: 768px) {
  #social_bar {
    position: fixed;
    top:100px;
    z-index: 1000;
    right: 0;
    transform: translateX($social_bar_width);

    ul {
        background: none;
        width:$social_bar_width;
        li {
          display: block;
          a {
            height: $social_bar_width;
            line-height: $social_bar_width;
            padding: 1px;
              background: white;
              color: black;
          }
        }
    }
  }


}
