
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'header';
@import 'footer';





body {
	background: $background-color;
	color: $font-color;
	font-family: $font-stack;
	font-size: 62.5%;
	font-weight: normal;
}


/*TYPOGRAPHY*/

h1 {font-size: 3.9em; padding:50px 0 50px;font-weight: normal;}
h2 {font-size: 2.9em; padding: 0 0 20px;font-weight: bold}
h3 {font-size: 2.21em;padding:0 0 20px;}
h4 {font-size: 1.69em;padding:0 0 10px;font-weight: bold;text-transform: uppercase}

p { font-size: 1.5em;padding:0 0 30px;line-height: 160%;  }
li { font-size: 1.5em;padding:0 0 5px;line-height: 160%  }

section p, section li {font-size:2em;}


li li, li p {font-size: inherit;}
ul ul , ul ol, ol ol {font-size: inherit}


@media (min-width: 768px){
	h1 {font-size: 5em;}
	h2 {font-size: 3.1em}
	h3 {font-size: 2.41em}
	h4 {font-size: 1.79em}

}






a {
	text-decoration: none;
	border-bottom: 1px dotted $primary-color;
	display: inline-block;
	font-style: italic;
	border-radius:3px;
	@include transition(0.3s);


	&:link, &:visited, &:active {
		color: $primary-color
	}
	&:hover {
		border-bottom: 1px solid $primary-color;
		background-color: transparentize($primary-color,0.8)
	}
}




strong, b {font-weight: bold;}
em, i {font-style: italic}

table {
	width: 100%;
	margin:0 0 40px;
}

th, td {font-size: 1.5em;padding:10px;border:0}
section td {font-size: 2em;line-height: 160%;padding:0 0 10px;}

blockquote {
	padding:20px 0 20px 40px;
	border-left:4px solid #888;
	margin:40px 20px 40px 40px;
	font-size: 140%;
	font-style: italic;
	max-width: 700px;
}
blockquote p:last-child {padding-bottom: 0}

input {padding: 10px;width: 100%;font-size: 1.5em;appearance:none;}
