@import "variables";


header {

  position: fixed;
  top: 0;
  width: 100%;
  height: $header_height;
  z-index: 100;
  transition: background-color 0.3s;

  a {
    border-bottom: 0;
    text-decoration: none;
  }

  &.visible_header {
    background: transparentize( darken($background-color, 8)  , 0.3);
    a:link, a:visited, a:active  {
      // color: $font-color;
    }
  }


  #logo {
    text-indent: -9999px;
    display: inline-block;
    height: $header_height;
    width: 80%;
    margin:0 10%;
    background: url('../images/logo.svg') no-repeat center center;
    background-size: contain;
  }

  nav {

    display: none;
    background: black;
    width: 100%;
    left: 0;
    top: $header_height;



    &.navigation_visible {
      display: block;
     position: absolute;

    }

    ul {
      list-style: none;
      text-align: center;

      li {
        display:block;
        font-size: 1.7em;
        text-transform: uppercase;
        margin: 0 5px 0 0 ;
        padding: 0;


        &:last-child {
          margin:0;
          &:after {
            content:'';
          }
        }


        a {
          display: block;
          padding:0 5px;
          line-height: $header_height;
          height: $header_height;
          transition: all 0.3s;

          &:link, &:visited, &:active {
            color: white;
          }
          &:hover {
            background: transparentize(lighten(black,20),0.5);
          }
        }
      }
    }
  }

}

#show_nav {
  display: block;
  padding:0 20px;
  height: $header_height;
  line-height: $header_height;
  text-transform: uppercase;
  font-size: 2em;
  background: lighten( transparentize(black,0.5),10);
  color: white;
  text-align: center;
}


@media (min-width: 768px) {

  #show_nav {
    display: none
  }

header {

  #logo {
      width: 100%;
  }
  nav {
    display: block;
    background: none;
    top:auto;
    position: static;
    ul {
      text-align: right;
      li {
        display: inline-block;
      }
    }
  }
}

}
