@import "variables";


header {

  position: fixed;
  top: 0;
  width: 100%;
  height: $header_height;
  z-index: 100;
  transition: background-color 0.3s;

  &.visible_header {
    background: transparentize( darken($background-color, 8)  , 0.3);
    a:link, a:visited, a:active  {
      // color: $font-color;
    }
  }


  #logo {
    text-indent: -9999px;
    display: inline-block;
    height: $header_height;
    width: 80%;
    margin:0 10%;
    background: url('../images/logo.png') no-repeat center center;
    background-size: contain;
  }

  nav {

    display: none;

    ul {
      list-style: none;
      text-align: right;

      li {
        display: inline-block;
        font-size: 1.7em;
        text-transform: uppercase;
        margin: 0 5px 0 0 ;
        padding: 0;


        &:last-child {
          margin:0;
          &:after {
            content:'';
          }
        }


        a {
          display: inline-block;
          padding:0 5px;
          line-height: $header_height;
          height: $header_height;
          transition: all 0.3s;

          &:link, &:visited, &:active {
            color: white;
          }
          &:hover {

          }
        }
      }
    }
  }

}


@media (min-width: 768px) {

header {

  #logo {
      width: 100%;
  }
  nav {
    display: block;
  }
}

}
